/* ANCHOR Custom Reset */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
/* /Custom Reset */

/* Common */
html {
    scroll-behavior: smooth;
}

#wallpaper,
#intro {
    position: fixed;
    height: 100vh;
    overflow: hidden;
    z-index: 9999;
}

#intro {
    display: none;
}

#wallpaper .text_label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-family: 'Tourney', cursive;
    font-size: 2rem;
    font-weight: 800;
    text-shadow: 4px 4px 4px #000;
    animation-name: pop_up;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    text-transform: uppercase;
}

@keyframes pop_up {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.intro_animation {
    animation-name: destroy;
    animation-duration: 1s;
    animation-delay: 15s;
    animation-fill-mode: forwards;
}

@keyframes destroy {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#wallpaper video,
#intro video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

#site {
    display: none;
}

.title-section .text-decoration {
    color: #0070D1;
}

.title-section .text-subtitle {
    color: gray;
}

.btn {
    position: relative;
    font-weight: 500;
    overflow: hidden;
}

.btn._btn-white {
    background-color: #fff;
    color: #000;
}

.btn._btn-white-plus {
    background-color: #fff;
    color: #0070D1;
}

.btn._btn-black {
    background-color: #000;
    color: #fff;
}

.btn._btn-blue {
    background-color: #0070D1;
    color: #fff;
}

.btn._btn-red {
    background-color: #dc3545;
    color: #fff;
}

.btn:hover:after {
    content: "";
    position: absolute;
    display: block;
    top: 2.5px;
    bottom: 2.5px;
    left: 2.5px;
    right: 2.5px;
    border: 2px solid currentColor;
    border-radius: 50rem;
}
/* /Common */


/* ANCHOR Header */
.top-banner img {
    width: 100%;
}

header nav .nav-link {
    color: #000!important;
    font-weight: 500;
    transition: 0.2s;
}

header nav .nav-link:hover {
    color: #0070D1!important;
}

header nav .dropdown-toggle::after {
    border: none;
    content: url("../images/chevron-down-solid.svg");
    width: 10px;
    vertical-align: middle;
    transition: 0.2s;
}

header nav .nav-link:hover.dropdown-toggle::after {
    content: url("../images/chevron-down-solid-hover.svg");
}

header nav .navbar-toggler {
    color: #000!important;
    box-shadow: 0 0 0 0.1rem;
    border: none!important;
    transition: 0.2s!important;
}

header nav .navbar-toggler:hover {
    color: #0070D1!important;
    box-shadow: 0 0 0 0.2rem!important;
}

header nav .navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem;
}

header nav .collapse > ul > li {
    margin: 0 5px;
    display: flex;
    align-items: center;
}

header nav .collapse > ul > li img {
    width: 25px;
}

header nav .collapse > ._right > li:last-child {
    position: relative;
    left: 5px;
}


/* /Header */

/* ANCHOR Hero Section */
#hero {
    /* width: 100%; */
}

#hero .banner,
#new_games .banner {
    position: relative;
    width: 100%;
    height: 500px;
    background-size: cover; 
    background-position: left top;
}

#hero .banner {
    background-image: url("../images/jumbo-bg.png");
}

#new_games .banner {
    background-image: url("../images/it-takes-two-hero-banner-desktop.jpg");
}

#hero .banner .container,
#hero .banner .container .row,
#new_games .banner .container,
#new_games .banner .container .row {
    height: 100%;
}


#hero .banner::after,
#new_games .banner::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#hero .banner::after {
    background-color: rgba(0, 112, 209, 0.6);
}

#new_games .banner::after {
    background-color: rgba(119, 20, 13, 0.6);
}

#hero .banner .description,
#new_games .banner .description {
    position: relative;
    z-index: 1;
}

#hero .banner .description .logo,
#new_games .banner .description .logo {
    width: 30%;
}

#hero .banner .description .logo img,
#new_games .banner .description .logo img {
    width: 100%;
}

#hero .thumbnail .item,
#new_games .list-new-games .item {
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: 15px;
    padding: 3px;
    overflow: hidden;
}

#hero .thumbnail .item.active{
    border: 2px solid #0070D1;
}

#hero .thumbnail .item img,
#new_games .list-new-games img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

#hero .thumbnail .item:not(.active):hover::after {
    position: absolute;
    content: "";
    display: block;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    border-radius: 10px;
} 

#hero .thumbnail .item:not(.active):hover::after {
    background-color: rgba(0, 112, 209, 0.6);
}

#new_games .list-new-games .item:hover .image::after {
        background-color: rgba(119, 20, 13, 0.6);
}
/* /Hero Section */

/* ANCHOR PS5 Section */
#ps5 .preview-product .preview {
    width: 100%;
}

#ps5 .preview img {
    width: 100%;
}

#ps5 .list-products .col-4:not(.active) {
    filter: grayscale(100%);
    transition: 0.2s;
}

#ps5 .list-products .col-4:not(.active):hover {
    filter: grayscale(0%);
}

#ps5 .list-products .active {
    border-bottom: 3px solid #0070D1;
}

#ps5 .list-products .item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 3px;
    text-decoration: none;
    color: currentColor;
}

#ps5 .list-products .item img {
    width: 100%;
}

#ps5 .list-products .item .desc,
#new_games .list-new-games .item .desc {
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}
/* /PS5 Section */

/* ANCHOR New Games */
#new_games .list-new-games {
    color: #fff;
}

#new_games .list-new-games a {
    color: currentColor;
    text-decoration: none;
}

#new_games .list-new-games .item .image {
    position: relative;
}

#new_games .list-new-games .item .image::after {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    border-radius: 10px;
}
/* /New Games */

/* ANCHOR PS4 Section */
#ps4 .preview-product .item .image img {
    width: 100%;
}

#ps4 .preview-product .item .desc {
    /* text-align: center; */
    padding: 0 50px;
}

#ps4 .preview-product .item .desc p {
   color: gray; 
}
/* /PS4 Section */


/* ANCHOR PS PLUS - PS NOW */
#ps-plus {
    background-color: #BEBCBB;
}

#ps-now {
    background-color: #161C3B;
    color: #fff;
}

#ps-plus img,
#ps-now img {
    width: 100%;
}

#ps-plus .desc .logo,
#ps-now .desc .logo {
    width: 50%;
}
/* /PS PLUS - PS NOW */

/* ANCHOR Sconti - Social */
#sconti img,
#social img {
    width: 100%;
}

#sconti .cards .item a,
#social .cards .item a {
    position: relative;
    display: block;
}

#sconti .cards .item a:hover::after,
#social .cards .item a:hover::after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#sconti .cards .item a:hover::after {
    background-color: rgba(0, 112, 209, 0.6);
}

#social .cards .item a:hover::after {
    background-color: rgba(255, 255, 255, 0.6);
}
/* /Sconti - Social */

/* ANCHOR Footer */
footer {
    background-color: #00439C;
    color: #fff;
}

footer a {
    text-decoration: none;
    color: currentColor;
}

footer a:hover {
    color: currentColor;
}

footer img {
    width: 100%;
}

#f-top .logo {
    width: 100px;
}

#f-top .lang .globe {
    width: 20px;
}

#f-top ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    margin-bottom: 12px;
}

#f-top ul li {
    margin: 5px 0;
}

#f-top ul li a:hover {
    text-decoration: underline;
}

#f-bottom .logo {
    width: 100px;
}

#f-bottom .text {
    font-size: 0.8rem;
}

/* /Footer */

